
<section>
  <%= render 'components/banner' %>
</section>
<br>
<section>
  <div class='social'>
    <div>
      <a href="https://www.google.com">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-spotify"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-itunes-note"></i>
      </a>
    </div>
  </div>
</section>
<br>
<section id=videos-section>
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">OUR MUSIC</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
          <div class=upper-iframe-wrapper>
            <iframe class="iframe" 
                    src="https://www.youtube.com/embed/cITrgkkZiEQ" 
                    title="Blood Trail is the most graphic VR shooter" 
                    frameborder="1" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
            </iframe>
          </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class=" col col-sm-12 col-md-6">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe" 
                  src="https://www.youtube.com/embed/cITrgkkZiEQ" 
                  title="Blood Trail is the most graphic VR shooter" 
                  frameborder="1" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 ">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe" 
                  src="https://www.youtube.com/embed/cITrgkkZiEQ" 
                  title="Blood Trail is the most graphic VR shooter" 
                  frameborder="1" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="bio">
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">THE BAND</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally
          encounter consequences that are extremely painful. Nor again is there
          anyone who loves or pursues or desires to obtain pain of itself,
          because it is pain, but because occasionally circumstances occur in
          which toil and pain can procure him some great pleasure. To take a
          trivial example, which of us ever undertakes laborious physical
          exercise, except to obtain some advantage from it? But who has any
          right to find fault with a man who chooses to enjoy a pleasure that
          has no annoying consequences, or one who avoids a pain that produces
          no resultant pleasure?
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h3 class="text text-center">CONTACT US: SOA@gmail.de</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <%= image_tag "bio_photo", class: "img-fluid"%>
      </div>
    </div>
</section>
<section id="assets">
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class='text'>ASSETS</h2>
        <h3 class='text'>Presskit</h3>
        <p class='text'>Please use these assets for promotional purposes</p>
      </div>
      <div class="col icon">
        <%= image_tag "SOA_icon", class: "img-fluid"%>
        <p class='text-center'>Sign</p>
      </div>
      <div class="col logo">
        <%= image_tag "SOA_Logo_clean", class: "img-fluid"%>
        <p class='text-center'>Logo</p>
      </div>
    </div>
    <div class="row">
      <div class="col promo-photo">
        <%= image_tag "promo_photo_sm", class: "img-fluid"%>
      </div>
      <p class='text-center'>Press Image</p>
    </div>
  </div>
</section>
<section id="footer">
  <div class='social'>
    <div>
      <a href="https://www.google.com">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-spotify"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="https://www.google.com">
        <i class="fa-brands fa-itunes-note"></i>
      </a>
    </div>
  </div>
</section>
<%# Below is connected to a js controller that types across the screen %>
<%# <p><span data-controller="typed-js"></span></p> %>
