
<section>
  <%= render 'components/banner' %>
</section>
<br>
<section>
  <div class='social container text-center'>
    <div class="row justify-content-center">
      <div class="col-2">
        <a href="https://instagram.com/scent_of_amber" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://youtube.com/@ScentOfAmberOfficial" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://open.spotify.com/artist/6ndYNmj34tt6o54s6UHmia?si=YHnUjSDdS72PoFPKnfciwg" target="_blank">
          <i class="fa-brands fa-spotify"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://facebook.com/scentofamber" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<section id='videos-section'>
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">OUR MUSIC</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
          <div class="iframe-wrapper">
            <iframe src="https://www.youtube.com/embed/oWkUCJl2UvY"
                    class="iframe"
                    title="Scent of Amber - Phoenix Effect (Official Music Video)"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-m-6">
        <div class="iframe-wrapper">
          <iframe src="https://www.youtube.com/embed/P_KOPhWUXcw?si=eQBiC5IcW66dZFKV"
                  class="iframe"
                  title="Custom Of The Sea"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col col-m-6">
          <div class="iframe-wrapper">
            <iframe src="https://www.youtube.com/embed/FJHhUSuihC4?controls=0"
                    class="iframe"
                    title="Temptress Of Greed"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
          </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</section>
<!-- TODO: center dates, refactor section and make neater, set correct weight for text, refactor css-->
<div class="line-break"></div>
<section id="shows">
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center font-weight-normal pb-lg-0">TOUR DATES</h2>
      </div>
    </div>
    <div class="row">
      # Everything is in the partial
      <%= render "components/events" %>
    </div>
  </div>
</section>
<div class="line-break"></div>
<section id="bio" >
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center font-weight-normal">THE BAND</h2>
      </div>
    </div>
    <div class="row">
      <p class="text-left font-weight-normal">
          Welcome to our homepage. We are Scent of Amber, a Deathcore metal band from Hamburg, Germany.
          Our music delves into themes of death, depression, weltschmerz, addiction, and loneliness.
      </p>
      <p class="text-left font-weight-normal">
          In fact, we have a rather negative perspective on how humanity
          treats both the world and itself. That's why the five of us came together, forming this band, to channel our
          inner struggles and amplify them through the power of music.
      </p>
      <p class="text-left font-weight-normal">
        The Band has officially formed in December 2020. In 2023 and beginning of 2024 we released our 3 debut
        singles: "Temptress of Greed.", "Custom of the Sea" and "Phoenix Effect". Available for streaming
        on all major platforms, complete with an accompanying music video on YouTube. To stay up-to-date with our next
        releases, exclusive content, upcoming shows, and tour dates, make sure to follow us on all our social media platforms.
        Feel free to explore our website and discover more about our music and our journey.
      </p>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h3 class="contact-text text-center">CONTACT US:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="mailto:contact@scentofamberband.com"><h3 class="contact-text text-center link">contact@scentofamberband.com</h3></a>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <%= image_tag "bio_photo.webp", class: "img-fluid"%>
      </div>
    </div>
  </div>
</section>

<section id="assets">
  <div class="container">
    <div class="row">
      <div class="col-4 sub-heading">
        <h2 class='text bolder'>ASSETS</h2>
        <h3 class='text'>Press kit</h3>
        <p class='text'>Please use these assets for promotional purposes</p>
      </div>
      <div class="col-4">
        <%= image_tag "SOA_icon.webp", class: "img-fluid pb-"%>
        <p class='text text-center'>Sign</p>
      </div>
      <div class="col-4">
        <%= image_tag "SOA_Logo_clean.webp", class: "img-fluid"%>
        <p class='text text-center'>Logo</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag "press_image1.webp", class: "img-fluid"%>
        <p class='text text-center fs-5'>Press Image 1 </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag "press_image2.webp", class: "img-fluid"%>
        <p class='text text-center fs-5'>Press Image 2 </p>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class='social container text-center'>
    <div class="row justify-content-center">
      <div class="col-2">
        <a href="https://instagram.com/scent_of_amber" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://youtube.com/@ScentOfAmberOfficial" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://open.spotify.com/artist/6ndYNmj34tt6o54s6UHmia?si=YHnUjSDdS72PoFPKnfciwg" target="_blank">
          <i class="fa-brands fa-spotify"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://facebook.com/scentofamber" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <!--<div class="col">
        <div class="svg-container">
          <a href="https://instagram.com/scent_of_amber" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 24 24">
              <path d="m12.012 3.992-4.004 4.004-4.004-4.004-4.004 4.004 4.004 4.004 4.004-4.004 4.004 4.004-4.004 4.004 4.004 4.004 4.004-4.004-4.004-4.004 4.004-4.004zm4.03 4.004 3.979-3.979 3.979 3.979-3.979 3.979z"/>
            </svg>
          </a>
        </div>
      </div>-->
    </div>
  </div>
</section>
<%# Below is connected to a js controller that types across the screen %>
<%# <p><span data-controller="typed-js"></span></p> %>
