
<section>
  <%= render 'components/banner' %>
</section>
<br>
<section>
  <div class='social'>
    <div>
      <a href="https://instagram/scent_of_amber">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://youtube.com/@ScentOfAmberOfficial">
        <i class="fa-brands fa-youtube"></i>
      </a>
<!--      <a href="https://www.google.com">
        <i class="fa-brands fa-spotify"></i>
      </a>-->
      <a href="https://facebook.com/scentofamber">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</section>
<br>
# video section is hidden until we have videos to show
<!--<section id='videos-section'>
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">OUR MUSIC</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
          <div class=upper-iframe-wrapper>
            <iframe class="iframe">
            </iframe>
          </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class=" col col-sm-12 col-md-6">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe">
          </iframe>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 ">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>-->
# TODO: center dates, refactor section and make neater, set correct weight for text, refactor css
<section id='our-shows'>
  <div class="container">
    <div class="row">
      <div class="col align-content-center">
        <h4 class="text text-left">AUG 25th FRI</h4>
        <h5 class="text text-left">Headcrash, 19:00</h5>
        <h5 class="text text-left">w/ Revaira, Treveller, In Fragments</h5>
        <h5 class="text text-left">Hamburg, DE</h5>
      </div>
      <div class="col align-content-center">
        <h4 class="text text-left">AUG 25th FRI</h4>
        <h5 class="text text-left">Headcrash, 19:00</h5>
        <h5 class="text text-left">w/ Revaira, Treveller, In Fragments</h5>
        <h5 class="text text-left">Hamburg, DE</h5>
      </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">THE BAND</h2>
      </div>
    </div>
        <p class="text-left">
          Welcome to our homepage. We are Scent of Amber, a Deathcore metal band. Our music delves into themes of death,
          depression, weltschmerz, addiction, and loneliness.
        </p>
        <p class="text-left">
          In fact, we have a rather negative perspective on how humanity
          treats both the world and itself. That's why the five of us came together, forming this band, to channel our
          inner struggles and amplify them through the power of music.
        </p>
        <p class="text-left">
          We officially formed in December 2020, although, honestly, who really cares about the exact date? This summer
          of 2023, we are excited to announce the upcoming release of our debut single, "Temptress of Greed." It will
          be available for streaming on all major platforms at the end of August, complete with an accompanying music video.
          To stay up-to-date with our releases, exclusive content, upcoming shows, and ticket links, make sure to follow
          us on our social media platforms. Feel free to explore our website and discover more about our music and our journey.
        </p>
    <br>
    <div class="row">
      <div class="col">
        <h3 class="text text-center">CONTACT US:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text text-center">SOA@gmail.de</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <%= image_tag "bio_photo.png", class: "img-fluid"%>
      </div>
    </div>
</section>

<section id="assets">
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class='text'>ASSETS</h2>
        <h3 class='text'>Press kit</h3>
        <p class='text'>Please use these assets for promotional purposes</p>
      </div>
      <div class="col icon">
        <%= image_tag "SOA_icon.png", class: "img-fluid"%>
        <p class='text'>Sign</p>
      </div>
      <div class="col logo">
        <%= image_tag "SOA_Logo_clean.png", class: "img-fluid"%>
        <p class='text'>Logo</p>
      </div>
    </div>
    <div class="row">
      <div class="col promo-photo">
        <%= image_tag "promo_photo_sm.png", class: "img-fluid"%>
      </div>
      <p class='text'>Press Image</p>
    </div>
  </div>
</section>
<section id="footer">
  <div class='social'>
    <div>
      <a href="https://instagram/scent_of_amber">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://youtube.com/@ScentOfAmberOfficial">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <!--      <a href="https://www.google.com">
              <i class="fa-brands fa-spotify"></i>
            </a>-->
      <a href="https://facebook.com/scentofamber">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</section>
<%# Below is connected to a js controller that types across the screen %>
<%# <p><span data-controller="typed-js"></span></p> %>
