
<section>
  <%= render 'components/banner' %>
</section>
<br>
<section>
  <div class='social'>
    <div>
      <a href="https://instagram/scent_of_amber">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://youtube.com/@ScentOfAmberOfficial">
        <i class="fa-brands fa-youtube"></i>
      </a>
<!--      <a href="https://www.google.com">
        <i class="fa-brands fa-spotify"></i>
      </a>-->
      <a href="https://facebook.com/scentofamber">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</section>
# video section is hidden until we have videos to show
<!--<section id='videos-section'>
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center">OUR MUSIC</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
          <div class=upper-iframe-wrapper>
            <iframe class="iframe">
            </iframe>
          </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class=" col col-sm-12 col-md-6">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe">
          </iframe>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 ">
        <div class=lower-iframe-wrapper>
          <iframe class="iframe">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- TODO: center dates, refactor section and make neater, set correct weight for text, refactor css-->
<div class="line-break"></div>
<section id="shows">
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center font-weight-normal">TOUR DATES</h2>
      </div>
    </div>
    <div class="row">
      <div class="col show-text">
        <h3 class="text text-left bolder">AUG 25th FRI</h3>
        <h6 class="text text-left">KJ Hueweg, 19:00</h6>
        <h6 class="text text-left">w/ Traveller, Hostage, The Pariah</h6>
        <h6 class="text text-left">Essen, DE</h6>
        <%= link_to "Tickets",
                    "https://www.universe.com/events/scent-of-amber-revaira-traveller-release-show-hamburg-tickets-JLP5RZ",
                    class: "btn btn-outline-light btn-lg"
        %>
      </div>
      <div class="col show-text">
        <h3 class="text text-left bolder">AUG 26th SAT</h3>
        <h6 class="text text-left">Headcrash, 19:00</h6>
        <h6 class="text text-left">w/ Revaira, Traveller, In Fragments</h6>
        <h6 class="text text-left">Hamburg, DE</h6>
        <%= link_to "Tickets",
                    "https://eventfrog.de/de/p/konzert/hard-rock-heavy-metal/traveller-the-homesick-session-essen-7072895734068946525.html",
                    class: "btn btn-outline-light btn-lg"
        %>
      </div>
    </div>
  </div>
</section>
<div class="line-break"></div>
<section id="bio" >
  <div class="container">
    <div class="row">
      <div class="col sub-heading">
        <h2 class="text-center font-weight-normal">THE BAND</h2>
      </div>
    </div>
    <div class="row">
      <p class="text-left font-weight-normal">
          Welcome to our homepage. We are Scent of Amber, a Deathcore metal band from Hamburg, Germany. Our music delves into themes of death,
          depression, weltschmerz, addiction, and loneliness.
      </p>
      <p class="text-left font-weight-normal">
          In fact, we have a rather negative perspective on how humanity
          treats both the world and itself. That's why the five of us came together, forming this band, to channel our
          inner struggles and amplify them through the power of music.
      </p>
      <p class="text-left font-weight-normal">
          We officially formed in December 2020, although, honestly, who really cares about the exact date? This summer
          of 2023, we are excited to announce the upcoming release of our debut single, "Temptress of Greed." It will
          be available for streaming on all major platforms at the end of August, complete with an accompanying music video.
          To stay up-to-date with our releases, exclusive content, upcoming shows, and ticket links, make sure to follow
          us on our social media platforms. Feel free to explore our website and discover more about our music and our journey.
      </p>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <h3 class="contact-text text-center">CONTACT US:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="contact-text text-center">contact@scentofamberband.com</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <%= image_tag "bio_photo.png", class: "img-fluid"%>
      </div>
    </div>
  </div>
</section>

<section id="assets">
  <div class="container">
    <div class="row">
      <div class="col-4 sub-heading">
        <h2 class='text bolder'>ASSETS</h2>
        <h3 class='text'>Press kit</h3>
        <p class='text'>Please use these assets for promotional purposes</p>
      </div>
      <div class="col-4">
        <%= image_tag "SOA_icon.png", class: "img-fluid"%>
        <p class='text text-center'>Sign</p>
      </div>
      <div class="col-4">
        <%= image_tag "SOA_Logo_clean.png", class: "img-fluid"%>
        <p class='text text-center'>Logo</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag "promo_photo_sm.png", class: "img-fluid"%>
        <p class='text text-center'>Press Image</p>
      </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class='social'>
    <div>
      <a href="https://instagram/scent_of_amber">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://youtube.com/@ScentOfAmberOfficial">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <!--      <a href="https://www.google.com">
              <i class="fa-brands fa-spotify"></i>
            </a>-->
      <a href="https://facebook.com/scentofamber">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</section>
<%# Below is connected to a js controller that types across the screen %>
<%# <p><span data-controller="typed-js"></span></p> %>
