<!DOCTYPE html>
<html>
  <head>
    <title>Soa20Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "SOA_icon.png" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
